# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Algorithm\jz58ReverseLeftWords\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
