# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Algorithm\Huawei05zifujihe\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
