# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Algorithm\0322CoinChange\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
